<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One&display=swap" rel="stylesheet">
</head>
<body>
	<ul id="nav">
  		<li><a href="/cars">Home</a></li>
 	 	<li><a href="/cars/new">New</a></li>
	</ul>		
	<h1>Cars edit page</h1>
	<form method="POST" action="/cars/<%=car._id%>?_method=PUT">
		Make: <input type="text" name="make" value="<%=car.make%>"/><br/>
		Model: <input type="text" name="model" value="<%=car.model%>"/><br/>
		Year: <input type="text" name="year" value="<%=car.year%>" />?<br/>
		Engine: <input type="text" name="engine" value="<%=car.engine%>"/><br/>
		Horsepower: <input type="text" name="horsepower" value="<%=car.horsepower%>"/><br/>
		Convertible Available?: 
		<input type="checkbox" name="convertible"
		<% if(car.convertible === true) { %>
		checked
		<% }%>
		/>
		<br/>
		Image Url: <input type="text" name="img" value="<%=car.img%>"/><br/>
		<input class="enter" type="submit" name="edit" value="Submit Changes"/>
	</form>
</body>
</html>